@font-face {
  font-family: "orbitron-semibold";
  src: local("Orbitron-SemiBold"),
    url("../assets/Orbitron-SemiBold.ttf") format("truetype"),
    url("../assets/Orbitron-SemiBold.woff") format("woff");
  font-weight: 600;
}