@font-face {
  font-family: "orbitron-semibold";
  src: local("Orbitron-SemiBold"),
    url("../assets/Orbitron-SemiBold.ttf") format("truetype"),
    url("../assets/Orbitron-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "robotomono-regular";
  src: local("RobotoMono-Regular"),
    url("../assets/RobotoMono-Regular.ttf") format("truetype"),
    url("../assets/RobotoMono-Regular.woff") format("woff");
  font-weight: 400;
}