@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'fonts';

.app {
  min-height: 100vh;
  width: 100%;
  color: var(--bs-light);
  position: relative;
  padding-top: 1rem;
  font-family: robotomono-regular, sans-serif;
  font-size: .8rem;

  .header,
  .content {
    position: relative;
    z-index: 1000;
    margin-top: 50vh;
    transform: translateY(-50%);
  }
}

.bg {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &.bg-1 {
    background:
      radial-gradient(
        circle at 0 10%,
        #0c1b36,
        rgba(74, 102, 196, 0) 60%
      ),
      radial-gradient(
        circle at 50% -10%,
        #6e87d8,
        rgba(0, 0, 0, 0) 40%
      ),
      radial-gradient(
        circle at 20% 110%,
        #0c1b36,
        rgba(0, 0, 0, 0) 60%
      );
  
    background-size: 200% 200%;
    background-position: 0% 0%;
  }

  &.bg-2 {
    background:
      radial-gradient(
        circle at 80% 40%,
        #3a1cc2,
        rgba(0, 0, 0, 0) 60%
      ),
      radial-gradient(
        circle at 120% 80%,
        #0c1b36,
        rgba(0, 0, 0, 0) 70%
      ),
      radial-gradient(
        circle at 50% 0%,
        #695CF6,
        rgba(0, 0, 0, 0) 60%
      );

    background-size: 200% 200%;
    background-position: 100% 100%;
    background-blend-mode: overlay;
  }

  &.bg-3 {
    background:
      radial-gradient(
        circle at 20% -20%,
        #0c1b36,
        rgba(0, 0, 0, 0) 70%
      ),
      radial-gradient(
        circle at 40% 0,
        #450f55,
        rgba(0, 0, 0, 0) 60%
      );

    background-size: 200% 200%;
    background-position: 100% 100%;
    background-blend-mode: overlay;
  }

  &.bg-noise {
    background-image: url("/src/assets/noise-texture.jpg");
    background-repeat: repeat;
    background-size: 10%;
    mix-blend-mode: overlay;
  }
}

.header {
  font-family: orbitron-semibold, sans-serif;
}

h1 {
  font-size: 3.5rem;
  word-break: keep-all;
}

.currencies {
  width: max-content;
  display: grid;
  grid-template-columns: max-content repeat(3, 1fr) repeat(2, 1.5fr);
  grid-auto-rows: max-content;

  & > * {
    padding: 1rem 3vmin;
    border-bottom: 1px solid #F8F8F8;
    text-align: center;
  }
  & > *:nth-child(-n+6) {
    font-size: .8rem;
    text-transform: capitalize;
  }
  & > *:nth-last-child(-n+6) {
    border-bottom: none;
  }
}