@import 'bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: "orbitron-semibold";
  src: local("Orbitron-SemiBold"), url("../assets/Orbitron-SemiBold.ttf") format("truetype"), url("../assets/Orbitron-SemiBold.woff") format("woff");
  font-weight: 600;
}
.app {
  min-height: 100vh;
  width: 100%;
  color: var(--bs-light);
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-family: orbitron-semibold, sans-serif;
}