@import 'bootstrap/dist/css/bootstrap.min.css';
@font-face {
  font-family: "orbitron-semibold";
  src: local("Orbitron-SemiBold"), url("../assets/Orbitron-SemiBold.ttf") format("truetype"), url("../assets/Orbitron-SemiBold.woff") format("woff");
  font-weight: 600;
}
.app {
  min-height: 100vh;
  width: 100%;
  color: var(--bs-light);
  position: relative;
  padding-top: 1rem;
}
.app .header,
.app .content {
  position: relative;
  z-index: 1000;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.bg {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.bg.bg-1 {
  background: radial-gradient(circle at 0 10%, #0c1b36, rgba(74, 102, 196, 0) 60%), radial-gradient(circle at 50% -10%, #6e87d8, rgba(0, 0, 0, 0) 40%), radial-gradient(circle at 20% 110%, #0c1b36, rgba(0, 0, 0, 0) 60%);
  background-size: 200% 200%;
  background-position: 0% 0%;
}
.bg.bg-2 {
  background: radial-gradient(circle at 80% 40%, #3a1cc2, rgba(0, 0, 0, 0) 60%), radial-gradient(circle at 120% 80%, #0c1b36, rgba(0, 0, 0, 0) 70%), radial-gradient(circle at 50% 0%, #695CF6, rgba(0, 0, 0, 0) 60%);
  background-size: 200% 200%;
  background-position: 100% 100%;
  background-blend-mode: overlay;
}
.bg.bg-3 {
  background: radial-gradient(circle at 20% -20%, #0c1b36, rgba(0, 0, 0, 0) 70%), radial-gradient(circle at 40% 0, #450f55, rgba(0, 0, 0, 0) 60%);
  background-size: 200% 200%;
  background-position: 100% 100%;
  background-blend-mode: overlay;
}
.bg.bg-noise {
  background-image: url("/src/assets/noise-texture.jpg");
  background-repeat: repeat;
  background-size: 10%;
  mix-blend-mode: overlay;
}

.header {
  font-family: orbitron-semibold, sans-serif;
}

h1 {
  font-size: 3.5rem;
  word-break: keep-all;
}

.currency-list {
  min-height: 100vh;
}